<!--
@File Name: base.html
@Description: This file serves as the base template, provided via Jinja, for all pages in the application. It contains the structure 
for the header, navigation bar, and common scripts that will be used across the application. The title and content blocks are 
intended to be overridden by child templates. It includes the Bootstrap CSS framework for styling and provides 
responsive behavior for different screen sizes. Flash messages for success and error notifications are also handled here.
-->

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!--------------------- Meta Data --------------------->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--------------------- Stylesheet --------------------->

    <link rel="stylesheet" href="./../static/style.css" />

    <title>{% block title %}Default Title{% endblock %}</title>
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <!--------------------- Navbar --------------------->
    <nav>
      <ul class="sidebar">
        <li onclick="hideSidebar()">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#ffffff"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              />
            </svg>
          </a>
        </li>
        <!--------------------- Sidebar of Navbar --------------------->
        {% if user.is_authenticated %}
        <li><a href="/">Home</a></li>
        <li><a href="/inbox">Inbox</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Log In</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
        {% endif %}
      </ul>
      <ul>
        <!--------------------- Main Navbar --------------------->
        <li><a href="#">Construction Project Manager</a></li>
        {% if user.is_authenticated %}
        <li class="hideOnMobile"><a href="/">Home</a></li>
        <li class="hideOnMobile"><a href="/inbox">Inbox</a></li>
        <li class="hideOnMobile"><a href="/logout">Logout</a></li>
        {% else %}
        <li class="hideOnMobile"><a href="/login">Log In</a></li>
        <li class="hideOnMobile"><a href="/sign-up">Sign Up</a></li>
        {% endif %}
        <li class="menu-button" onclick="showSidebar()">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#ffffff"
            >
              <path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
              />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <!--------------------- Message Flashing --------------------->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      <!-- Error alert -->
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      <!-- Success alert -->
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <!--------------------- Content Area --------------------->

    <div class="container">{% block content %}{% endblock %}</div>

    <!--------------------- JavaScript --------------------->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
