<!-- In Progress (views not added for this page) -->

<!--------------------- Base Template Extension --------------------->
{% extends 'base.html' %}
<!--------------------- HTML Title --------------------->
{% block title %}Calendar - Construction Project Manager{% endblock %}
<!--------------------- Main Page Content (PAGE SPECIFICS) --------------------->
{% block content %}
<section class="main-content-section">
  <div class="wrapper">
    <header>
      <p class="current-date">April 2025</p>
      <div class="icons">
        <span class="material-symbols-rounded"></span>
        <span class="material-symbols-rounded"></span>
      </div>
    </header>
  </div>
</section>
{% endblock %}
