<!--
@File Name: homeSub.html
@Description: This file renders the subcontractor home page of the web application. 
It displays a list of projects belonging to the current logged-in subcontractor, 
allowing viewing of projects assigned to them.
-->

<!--------------------- Base Template Extension --------------------->
{% extends 'base.html' %}
<!--------------------- HTML Title --------------------->
{% block title %}Subcontractor Home Page - Construction Project Manager{%
endblock %}
<!--------------------- Main Page Content (PAGE SPECIFICS) --------------------->
{% block content %}
<!-- Place new content inside this block content -->
<section class="main-content-section" id="project-section">
  <section id="project-header">
    <h2>Assigned Construction Projects</h2>
  </section>
  <div class="table-wrapper">
    <table>
      {% if not projects %}
      <p id="no-projects">
        Hello {{user.first_name}}, you are not assigned any projects yet!<br />Please
        contact a contractor if you are awaiting a project assignment.
      </p>
      {% else %} {% for project in projects %}
      <tr class="project-row" data-status="{{ project.progress }}">
        <td>
          <!-- Project title and link -->
          <a
            id="project-link"
            href="{{ url_for('views.view_project', project_id=project.id)}}"
          >
            {{ project.project_name }}
          </a>

          <!-- Project Date and Status -->
          <div class="project-details">
            <!-- Project Date -->
            <p class="date">{{ project.date }}</p>
            <!-- Project Status -->
            <p id="project-status">
              {% if project.progress == "Not Yet Started" %}
              <span class="status-text not-started">Not Yet Started</span>
              {% elif project.progress == "On Hold" %}
              <span class="status-text on-hold">On Hold</span>
              {% elif project.progress == "In Progress" %}
              <span class="status-text in-progress">In Progress</span>
              {% elif project.progress == "Completed" %}
              <span class="status-text completed">Completed</span>
              {% elif project.progress == "Canceled" %}
              <span class="status-text canceled">Canceled</span>
              {% else %}
              <span class="status-text">Unknown Status</span>
              {% endif %}
            </p>
          </div>
          <!-- Delete Button -->
          <button
            type="button"
            class="close hidden-button"
            id="delete-button"
            data-id="{{ project.id }}"
            data-name="{{ project.project_name }}"
            onClick="deleteProject(this)"
          >
            <span aria-hidden="true"> Delete </span>
          </button>
        </td>
      </tr>
      {% endfor %} {% endif %}
    </table>
  </div>
  <form method="POST" id="project-form">
    <div class="filter-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        id="filter-projects"
        onclick="toggleFilter()"
      >
        <path
          d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"
        />
      </svg>
      <!-- Status Filter Dropdown -->
      <select id="status-filter" class="hidden-button">
        <option value="All">Show All Projects</option>
        <option value="Not Yet Started">Not Yet Started</option>
        <option value="In Progress">In Progress</option>
        <option value="On Hold">On Hold</option>
        <option value="Completed">Completed</option>
        <option value="Canceled">Canceled</option>
      </select>
    </div>
  </form>
</section>
{% endblock %}
