<!--
@File Name: home.html
@Description: This file renders the home page of the web application. It displays a list of projects 
belonging to the current logged-in user, allowing users to view, add, and delete projects.
-->
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!--------------------- Meta Data --------------------->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--------------------- Stylesheet --------------------->
    <link rel="stylesheet" href="./../static/style.css" />
    <title>Projects</title>
  </head>
  <body>
    <main class="page-container">
      <!--------------------- Navbar --------------------->
      <nav>
        <ul class="sidebar">
          <li onclick="hideSidebar()">
            <a href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#ffffff"
              >
                <path
                  d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                />
              </svg>
            </a>
          </li>
          <!--------------------- Sidebar of Navbar --------------------->
          {% if user.is_authenticated %}
          <li><a href="/">Home</a></li>
          <li><a href="/inbox">Inbox</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Log In</a></li>
          <li><a href="/sign-up">Sign Up</a></li>
          {% endif %}
        </ul>
        <ul>
          <!--------------------- Main Navbar --------------------->
          <li><a href="#">Construction Project Manager</a></li>
          {% if user.is_authenticated %}
          <li class="hideOnMobile"><a href="/">Home</a></li>
          <li class="hideOnMobile"><a href="/inbox">Inbox</a></li>
          <li class="hideOnMobile"><a href="/logout">Logout</a></li>
          {% else %}
          <li class="hideOnMobile"><a href="/login">Log In</a></li>
          <li class="hideOnMobile"><a href="/sign-up">Sign Up</a></li>
          {% endif %}
          <li class="menu-button" onclick="showSidebar()">
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#ffffff"
              >
                <path
                  d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
                />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <!--------------------- Message Flashing --------------------->
      <div class="alert-container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert-messages">
          <div class="alert alert-error" role="alert">
            <!-- Error alert -->
            {{ message }}
            <span class="close" aria-hidden="true">×</span>
          </div>
          {% else %}
          <div class="alert alert-success" role="alert">
            <!-- Success alert -->
            {{ message }}
            <span class="close" aria-hidden="true">×</span>
          </div>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
      </div>
      <!--------------------- Home Content --------------------->
      <div class="content-wrapper">
        <h1>Projects</h1>
        <ul>
          {% for project in user.projects %}
          <li>
            {{ project.data }}
            <button
              type="button"
              class="close"
              onClick="deleteProject('{{ project.id }}')"
            >
              <span aria-hidden="true">x</span>
            </button>
          </li>
          {% endfor %}
        </ul>
        <form method="POST">
          <textarea name="project" id="project"></textarea>
          <br />
          <div>
            <button type="submit">Create New Project</button>
          </div>
        </form>
      </div>
    </main>
    <!--------------------- JavaScript --------------------->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
