<!--
@File Name: inbox.html
@Description: This file represents the message functionality of the web application. It displays messages
belonging to the current logged-in user, allowing users to view and send messages.
-->
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!--------------------- Meta Data --------------------->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--------------------- Stylesheet --------------------->
    <link rel="stylesheet" href="./../static/inbox-style.css" />
    <!--------------------- Page Title --------------------->
    <title>Inbox</title>
  </head>
  <body>
    <!--------------------- Inbox Content --------------------->
    <li><a href="/">Home</a></li>
    <h1>Inbox</h1>
    <h2>Send a message</h2>
    <form method="POST" action="{{url_for('views.send_message')}}">
      <label for="receiver_email">Receipient Email:</label>
      <input type="text" name="receiver_email" required />
      <label for="content">Message:</label>
      <textarea name="content" required></textarea>
      <button type="submit">Send</button>
    </form>
    <div>
      <h2>Messages</h2>
      {% if messages %} {% for message in messages %}
      <div>
        <p>
          <strong>{{message.sender_name }}</strong>: {{message.message_text }}
        </p>
        <p>{{message.timestamp }}</p>
      </div>
      {% endfor %} {% else %}
      <p>No messages found.</p>
      {% endif %}
    </div>
  </body>
</html>
