<!--
@File Name: profile.html
@Description: User's profile settings page.
-->

<!--------------------- Base Template Extension --------------------->
{% extends 'base.html' %}
<!--------------------- HTML Title --------------------->
{% block title %}{{user.first_name}}'s Profile - Construction Project Manager{%
endblock %}
<!--------------------- Main Page Content (PAGE SPECIFICS) --------------------->
{% block content %}
<!-- Place new content inside this block content -->
<section class="main-content-section" id="profile-section">
  <h2>Profile Settings</h2>
  <p>Welcome {{user.first_name}}, your account details are below:</p>
  <ul>
    <li>First Name: {{user.first_name}}</li>
    <li>Email: {{user.email}}</li>
    <li>Role: {{user.role}}</li>
    {% if user.role == 'subcontractor' %}
    <li>Trade: {{ subcontractor.trade }}</li>
    {% endif %}
  </ul>
</section>
{% endblock %}
