
<!DOCTYPE html>
<!--- with assitance from Git Copilot --->
<html>
<head>
    <title>Profile</title>
    <script>
        function goToInbox()
         {
             window.location.href='{{url_for("inbox")}}';
         }
     </script> 
</head>
<body>
    <div>
        <h2>Profile Page</h2>
    </div>
    <div>
        <p>Your Account Details:</p>
        <div class="username"> Username: {{ account.usrname}}</div>
        <div class="password"> Password: {{ account.password}}</div>
        <div class="email"> Email: {{ account.email}}</div>
    </div>
   <button onclick="goToInbox()">Inbox</button>
</body>
</html>