<h1>{{project.project_name}}</h1>

<form method="POST" action="{{ url_for('views.add_subcontractor', project_id=project.id) }}">
    <label for="subcontractor_name">Name:</label>
    <input type="text" name="subcontractor_name" id="subcontractor_name" required><br>

    <label for="subcontractor_email">Email:</label>
    <input type="email" name="subcontractor_email" id="subcontractor_email" required><br>

    <label for="subcontractor_trade">Trade:</label>
    <input type="text" name="subcontractor_trade" id="subcontractor_trade" required><br>

    <button type="submit">Add Subcontractor</button>
</form>


<h2>Subcontractors</h2>
<ul>
    {% for subcontractor in subcontractors %}
        <li>{{ subcontractor.name }}</li>
    {% else %}
        <li>No subcontractors assigned yet.</li>
    {% endfor %}
</ul>