<!--
@File Name: project.html
@Description: This file represents a specific project and its respective details. 
Only a contractor has access to this page and can add and reassign deadlines, 
completion status, and construction location. They can also add subcontractors, but 
not remove, and add tasks and upload files. 
-->

<!--------------------- Base Template Extension --------------------->
{% extends 'base.html' %}
<!--------------------- HTML Title --------------------->
{% block title %}Project Details For {{project.project_name}}{% endblock %}
<!--------------------- Main Page Content (PAGE SPECIFICS) --------------------->
{% block content %}
<section class="main-content-section" id="project-details">
  <!----------- Main Page Content ----------->
  <div id="project-details-div">
    <h2 id="project-name">
      <!-- Project Name -->
      {{ project.project_name }} {% if user.role == 'contractor' %}
      <!-- Edit Project Name -->
      <svg
        onclick="toggleEdit()"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="18px"
        id="edit-project-name-btn"
        class="edit-toggle-btn"
      >
        <path
          d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
        />
      </svg>
      {% endif %}
      <!-- Form to Save Changes -->
      <form
        id="edit-project-name-form"
        action="/edit-project-name?project_id={{ project.id }}"
        method="POST"
        class="hidden-form"
      >
        <input
          type="text"
          name="project_name"
          id="project-name-input-field"
          value="{{ project.project_name }}"
          required
        />
        <button type="submit">Save</button>
      </form>
    </h2>
  </div>

  <!------ Tab Section ------>
  <div class="tab-buttons">
    <button class="tab-btn active" data-tab="information">Information</button>
    <button class="tab-btn" data-tab="subcontractors">Subcontractors</button>
    <button class="tab-btn" data-tab="files">Files</button>
    {% if user.role == 'subcontractor' %}
    <button class="tab-btn" data-tab="messages">Message</button>
    {% endif %}
  </div>
  <!------------ Information Div ------------>
  <div id="information" class="tab-content active">
    <!--------- Information Section --------->
    <section id="information-section">
      <!------ Deadline sub-section ------>
      <section class="sub-sections" id="deadline-sub-section">
        <h3>Project Deadline</h3>
        <form
          id="deadline-form"
          method="POST"
          action="{{ url_for('views.update_deadline', project_id=project.id) }}"
        >
          {% if project.deadline is none %}
          <p>No Deadline Assigned</p>
          {% if user.role != 'subcontractor' %}
          <div class="div-dead">
            <input type="date" name="deadline" required />
            <button type="submit">Assign</button>
          </div>
          {% endif %} {% else %}
          <p>{{ project.deadline }}</p>
          <div class="div-dead">
            {% if user.role != 'subcontractor' %}
            <input type="date" name="deadline" value="{{ project.deadline }}" />
            <button type="submit">Reassign</button>
            {% endif %}
          </div>
          {% endif %}
        </form>
      </section>
      <!------ Completion sub-section ------>
      <section class="sub-sections" id="completion-status-sub-section">
        <h3>Completion Status</h3>
        <p id="displaying-completion-status">{{ project.progress }}</p>

        <form
          id="completion-form"
          method="POST"
          action="{{ url_for('views.update_project_completion_status', project_id=project.id) }}"
        >
          {% if user.role != 'subcontractor' %}
          <select id="project-status" name="project-status">
            <option value="" disabled selected hidden>
              Change Project Status
            </option>

            {% if project.progress != 'Not Yet Started' %}
            <option value="Not Yet Started">Not Yet Started</option>
            {% endif %} {% if project.progress != 'On Hold' %}
            <option value="On Hold">On Hold</option>
            {% endif %} {% if project.progress != 'In Progress' %}
            <option value="In Progress">In Progress</option>
            {% endif %} {% if project.progress != 'Completed' %}
            <option value="Completed">Completed</option>
            {% endif %} {% if project.progress != 'Canceled' %}
            <option value="Canceled">Canceled</option>
            {% endif %}
          </select>

          <div class="buttons">
            <button type="submit">Update</button>
            <button type="reset">Clear</button>
          </div>
          {% endif %}
        </form>
      </section>
      <!----------- Address Updates ------------>
      <section class="sub-sections" id="address-sub-section">
        <h3>Address</h3>

        <!-- Address Update Form -->
        <form
          action="{{ url_for('views.update_address', project_id=project.id)}}"
          method="POST"
        >
          {% if user.role == 'subcontractor' %}
          <p>{{ project.address }}</p>

          {% else %} {% if project.address is none %}
          <p>No Address Assigned</p>
          <div class="div-address">
            <textarea
              name="project_address"
              id="project_address"
              placeholder="Enter Address"
              required
            ></textarea>
            <button type="submit">Assign Address</button>
          </div>
          {% else %}
          <p>{{ project.address }}</p>
          <div class="div-address">
            <textarea
              name="project_address"
              id="project_address"
              placeholder="Enter Address"
              required
            ></textarea>
            <div id="address-buttons">
              <button type="submit" id="address-submit">Update Address</button>
              <button type="reset">Clear</button>
            </div>
          </div>
          {% endif %} {% endif %}
        </form>
      </section>
    </section>
  </div>
  <!------------ Subcontractors Div ------------>
  <div id="subcontractors" class="tab-content">
    <!--------- Subcontractors Section --------->
    <section id="subcontractors-section">
      <!------ Subcontractor sub-section ------>
      <section class="sub-sections" id="subcontractors-sub-section">
        <h3>Subcontractors</h3>

        <div class="table-wrapper">
          {% if subcontractors|length == 0 %}
          <p>No Subcontractors Assigned</p>
          {% else %}
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Trade</th>
                {% if user.role != 'subcontractor' %}
                <th class="last-column"></th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for subcontractor in subcontractors %}
              <tr>
                <td>{{ subcontractor.name }}</td>
                <td>{{ subcontractor.email }}</td>
                <td>{{ subcontractor.trade }}</td>
                {% if user.role != 'subcontractor' %}
                <td class="last-column">
                  <!-- Delete Button -->
                  <button
                    type="button"
                    id="delete-button"
                    data-id="{{ subcontractor.id }}"
                    data-name="{{ subcontractor.name }}"
                    onClick="deleteSubcontractor(this)"
                  >
                    <span aria-hidden="true"> Delete </span>
                  </button>
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>

        {% if user.role != 'subcontractor' %}
        <form
          method="POST"
          action="{{ url_for('views.add_subcontractor', project_id=project.id) }}"
        >
          <textarea
            name="subcontractor-email"
            id="subcontractor-email"
            placeholder="Enter Email"
            required
          ></textarea>
          <div id="subcon-buttons">
            <button type="submit">Add Subcontractor</button>
            <button type="reset">Clear</button>
          </div>
        </form>
        <!-- Delete Subcontractor Assignment -->
        {% endif %}
      </section>
      <!------ Tasks sub-section ------>
      <section class="sub-sections" id="task-sub-section">
        <h3>Tasks</h3>

        <div class="table-wrapper">
          {% if tasks|length == 0 %}
          <p>No Tasks Assigned</p>
          {% else %}
          <table>
            <thead>
              <tr>
                <th>Task</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Completion</th>
                <th>Subcontractor</th>
                {% if user.role != 'subcontractor' %}
                <th class="last-column"></th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for task in tasks %}
              <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description or "No description provided" }}</td>
                <td>{{ task.deadline }}</td>
                <td>{{ task.completion }}</td>
                <td>
                  {{ task.subcontractor.name if task.subcontractor else
                  "Unassigned" }}
                </td>
                {% if user.role != 'subcontractor' %}
                <td class="last-column">
                  <!-- Delete Button -->
                  <button
                    type="button"
                    id="delete-button"
                    data-id="{{ task.id }}"
                    data-name="{{ task.name }}"
                    onClick="deleteTask(this)"
                  >
                    <span aria-hidden="true"> Delete </span>
                  </button>
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>

        {% if user.role != 'subcontractor' %}
        <form
          method="POST"
          action="{{ url_for('views.add_task', project_id=project.id) }}"
        >
          <h4>Add Task Below</h4>
          <div id="task-div">
            <label for="task-name">Task Name:</label>
            <input
              type="text"
              name="task-name"
              id="task-name"
              placeholder="Enter Task Name"
              required
            />

            <label for="task-description">Description:</label>
            <textarea
              name="task-description"
              id="task-description"
              rows="3"
              placeholder="Type Task Description here (optional)..."
            ></textarea>

            <label for="task-deadline">Deadline:</label>
            <input
              type="date"
              name="task-deadline"
              id="task-deadline"
              required
            />

            <label for="task-completion">Completion:</label>
            <select name="task-completion" id="task-completion" required>
              <option value="" disabled selected hidden>
                Change Task Status
              </option>
              <option value="Not Started">Not Started</option>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
            </select>

            <label for="task-subcontractor">Assign Subcontractor:</label>
            <select name="task-subcontractor" id="task-subcontractor" required>
              <option value="" disabled selected hidden>
                Select Subcontractor
              </option>
              {% for subcontractor in subcontractors %}
              <option value="{{ subcontractor.id }}">
                {{ subcontractor.name }}
              </option>
              {% endfor %}
            </select>
          </div>
          <button type="submit">Add Task</button>
        </form>
        <!-- Delete Task -->

        {% endif %}
      </section>
    </section>
  </div>
  <!------------ Files & Invoice Div ------------>
  <div id="files" class="tab-content">
    <!------------ Files & Invoice Section ------------>
    <section id="file-invoice-section" class="sub-sections">
      <!------ File Upload sub-section ------>
      <section class="sub-sections" id="file-upload-sub-section">
        <form
          action="{{ url_for('file_upload.upload_file', project_id=project.id) }}"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="file-invoice-div">
            <h3>
              Files
              <label for="file">+</label>
            </h3>

            <!-- File input, styled as a hidden input with a custom label -->
            <input
              type="file"
              class="hidden-input"
              name="file"
              id="file"
              required
            />
            <span class="file-name" id="file-name">No File Selected</span>

            <button type="submit">Upload</button>
          </div>
        </form>
      </section>
      <!------ Invoice sub-section ------>
      <section class="sub-sections" id="invoice-upload-sub-section">
        <form
          action="{{ url_for('views.upload_invoice', project_id=project.id) }}"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="file-invoice-div">
            <h3>
              Invoices
              <label for="invoice">+ </label>
            </h3>

            <!-- File input styled as hidden input with a custom label -->
            <input
              type="file"
              class="hidden-input"
              name="invoice"
              id="invoice"
              required
            />
            <span class="file-name" id="invoice-file-name"
              >No File Selected</span
            >

            <button type="submit">Upload</button>
          </div>
        </form>
      </section>
    </section>
  </div>
  <!------------ Message Div ------------>
  {% if user.role == 'subcontractor' %}
  <div id="messages" class="tab-content">
    <h3>Message</h3>
    <form
      method="POST"
      action="{{ url_for('views.send_ping', project_id=project.id) }}"
    >
      <label for="reason">Reason for ping:</label>
      <select name="reason" id="reason" required>
        <option value="" disabled selected hidden>Select Reason</option>
        <option value="Task Question">Task Question</option>
        <option value="Deadline Issue">Deadline Issue</option>
        <option value="Invoice Issue">Invoice Issue</option>
        <option value="Other">Other</option>
      </select>
      <button type="submit">Ping Contractor</button>
    </form>
  </div>
  {% endif %}
</section>
{% endblock %}
