<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Details</title>
    <link rel="stylesheet" href="./../static/style.css" />
  </head>
  <body id="default-website-body">
    <!--------------------- Navbar --------------------->
    <nav>
      <ul class="nav-sidebar">
        <li onclick="hideNavSidebar()">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              width="24px"
              height="24px"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              />
            </svg>
          </a>
        </li>
        <!----------- Navbar Sidebar ----------->
        <li><a href="/">Home</a></li>
        <li><a href="/inbox">Inbox</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <!----------- Main Navbar ----------->
      <ul>
        <li class="nav-title">Construction Project Manager</li>
        <li class="hideOnMobile">
          <a href="/"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
            >
              <path
                d="M680-600h80v-80h-80v80Zm0 160h80v-80h-80v80Zm0 160h80v-80h-80v80Zm0 160v-80h160v-560H480v56l-80-58v-78h520v720H680Zm-640 0v-400l280-200 280 200v400H360v-200h-80v200H40Zm80-80h80v-200h240v200h80v-280L320-622 120-480v280Zm560-360ZM440-200v-200H200v200-200h240v200Z"
              />
            </svg>
            Home</a
          >
        </li>
        <li class="hideOnMobile">
          <a href="/inbox"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
            >
              <path
                d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
              />
            </svg>
            Inbox</a
          >
        </li>
        <li class="hideOnMobile">
          <a href="/logout"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
              />
            </svg>
            Logout</a
          >
        </li>
        <li class="menu-button" onclick="showNavSidebar()">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              width="24px"
              height="24px"
            >
              <path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
              />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <!--------------------- Sidebar --------------------->
    <aside id="default-asidebar">
      <ul>
        <li>
          <span class="logo">CPM</span>
          <button onclick="toggleSidebar()" id="toggle-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              width="24px"
              height="24px"
            >
              <path
                d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"
              />
            </svg>
          </button>
        </li>
        <li>
          <a href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
            >
              <path
                d="M680-600h80v-80h-80v80Zm0 160h80v-80h-80v80Zm0 160h80v-80h-80v80Zm0 160v-80h160v-560H480v56l-80-58v-78h520v720H680Zm-640 0v-400l280-200 280 200v400H360v-200h-80v200H40Zm80-80h80v-200h240v200h80v-280L320-622 120-480v280Zm560-360ZM440-200v-200H200v200-200h240v200Z"
              />
            </svg>
            <span>Home</span>
          </a>
        </li>
        <li>
          <!----------- Dropdown Menu ----------->
          <button onclick="toggleSubMenu(this)" class="dropdown-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              width="24px"
              height="24px"
            >
              <path
                d="M560-320h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"
              />
            </svg>
            <span>Create</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              width="24px"
              height="24px"
            >
              <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </button>
          <ul class="sub-menu">
            <div>
              <li><a href="#">Folder</a></li>
              <li><a href="#">Document</a></li>
              <li><a href="#">Project</a></li>
            </div>
          </ul>
        </li>
        <li>
          <!----------- Dropdown Menu ----------->
          <button onclick="toggleSubMenu(this)" class="dropdown-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              width="24px"
              height="24px"
            >
              <path
                d="M222-200 80-342l56-56 85 85 170-170 56 57-225 226Zm0-320L80-662l56-56 85 85 170-170 56 57-225 226Zm298 240v-80h360v80H520Zm0-320v-80h360v80H520Z"
              />
            </svg>
            <span>Checklists</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              width="24px"
              height="24px"
            >
              <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </button>
          <ul class="sub-menu">
            <div>
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Lorem</a></li>
            </div>
          </ul>
        </li>
        <li>
          <a href="calendar.html"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              width="24px"
              height="24px"
            >
              <path
                d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"
              />
            </svg>
            <span>Calendar</span></a
          >
        </li>
        <li>
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              width="24px"
              height="24px"
            >
              <path
                d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"
              />
            </svg>
            <span>Profile</span></a
          >
        </li>
      </ul>
    </aside>
    <!--------------------- Main Content --------------------->
    <main>
      <!----------- Message Flashing Container ----------->
      <section class="alert-container" id="toggle-flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert-messages">
          <div class="alert alert-error" role="alert">
            <!-- Error alert -->
            {{ message }}
            <button class="close">
              <span
                ><svg
                  id="error-close"
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                >
                  <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                  />
                </svg>
              </span>
            </button>
          </div>
          {% else %}
          <div class="alert alert-success" role="alert">
            <!-- Success alert -->
            {{ message }}
            <button class="close">
              <span>
                <svg
                  id="success-close"
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                >
                  <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                  />
                </svg>
              </span>
            </button>
          </div>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
      </section>
      <section class="main-content-section" id="project_details">
        <!----------- Main Page Content ----------->
        <h2 id="header-project-details">{{ project.project_name }}</h2>
        <section class="sub-sections top-section">
          <section class="sub-sections" id="deadline-sub-section">
            <h3>Project Deadline</h3>
            <!-- Form is needed to send update -->
            <form
              id="deadline-form"
              method="POST"
              action="{{ url_for('views.update_deadline', project_id=project.id) }}"
            >
              {% if project.deadline is none %}
              <!-- No Project Deadline Assigned -->
              <p>Assign Project Deadline</p>
              <div class="div-dead">
                <input type="date" name="deadline" required />
                <button type="submit">Assign</button>
              </div>
              {% else %}
              <p>{{ project.deadline }}</p>
              <div class="div-dead">
                <input
                  type="date"
                  name="deadline"
                  value="{{ project.deadline }}"
                />
                <button type="submit">Reassign</button>
              </div>
              {% endif %}
            </form>
          </section>
          <section class="sub-sections" id="completion-status-sub-section">
            <h3>Completion Status</h3>
            <p>{{ project.progress }}</p>
            <form
              id="completion-form"
              method="POST"
              action="{{ url_for('views.update_project_completion_status', project_id=project.id) }}"
            >
              <ul>
                {% if project.progress != 'Not Yet Started' %}
                <li>
                  <label for="status-not-yet-started">
                    <!-- for connects to id -->
                    <input
                      type="radio"
                      id="status-not-yet-started"
                      name="project-status"
                      value="Not Yet Started"
                    />
                    Not Yet Started
                  </label>
                </li>
                {% endif %} {% if project.progress != 'On Hold' %}
                <li>
                  <label for="status-on-hold">
                    <input
                      type="radio"
                      id="status-on-hold"
                      name="project-status"
                      value="On Hold"
                    />
                    On Hold
                  </label>
                </li>
                {% endif %} {% if project.progress != 'In Progress' %}
                <li>
                  <label for="status-in-progress">
                    <input
                      type="radio"
                      id="status-in-progress"
                      name="project-status"
                      value="In Progress"
                    />
                    In Progress
                  </label>
                </li>
                {% endif %} {% if project.progress != 'Completed' %}
                <li>
                  <label for="status-completed">
                    <input
                      type="radio"
                      id="status-completed"
                      name="project-status"
                      value="Completed"
                    />
                    Completed
                  </label>
                </li>
                {% endif %} {% if project.progress != 'Canceled' %}
                <li>
                  <label for="status-canceled">
                    <input
                      type="radio"
                      id="status-canceled"
                      name="project-status"
                      value="Canceled"
                    />
                    Canceled
                  </label>
                </li>
                {% endif %}
              </ul>
              <div class="buttons">
                <button type="submit">Save Status</button>
                <button type="reset">Clear</button>
              </div>
            </form>
          </section>
        </section>
        <section class="sub-sections bottom-section">
          <section class="sub-sections" id="subcontractors-sub-section">
            <h3>Subcontractors</h3>
            <ul>
              {% for subcontractor in subcontractors %}
              <li>{{ subcontractor.name }}</li>
              {% else %}
              <li>No subcontractors assigned yet.</li>
              {% endfor %}
            </ul>
            <form
              method="POST"
              action="{{ url_for('views.add_subcontractor', project_id=project.id) }}"
            >
              <label for="subcontractor_name">Name:</label>
              <input
                type="text"
                name="subcontractor_name"
                id="subcontractor_name"
                required
              /><br />
              <label for="subcontractor_email">Email:</label>
              <input
                type="email"
                name="subcontractor_email"
                id="subcontractor_email"
                required
              /><br />
              <label for="subcontractor_trade">Trade:</label>
              <input
                type="text"
                name="subcontractor_trade"
                id="subcontractor_trade"
                required
              /><br />
              <button type="submit">Add Subcontractor</button>
            </form>
          </section>
          <section class="sub-sections" id="task-sub-section">
            <h3>Tasks</h3>
          </section>
        </section>
      </section>
    </main>
    <!--------------------- Footer --------------------->
    <footer>Construction Project Manager (CPM)</footer>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
