/*
@File Name: style.css
@Description: This file contains the CSS style for the front-end of the web application.
*/

/*--------------------- Root Variables ---------------------*/

:root {
  /* Primary Colors */
  --base-clr: #f4f7fb; /* Background */
  --line-clr: #11121a; /* Lines and borders */
  --accent-clr: #2a2a2a; /* Buttons, links, or highlights */
  /* Text Colors */
  --text-clr: #1e1e1e; /* Dark text */
  --text-faded-clr: #3a3a3a; /* Forms */
  --hover-text-clr: #e0e6ed; /* Hover effects on text */
  --tertiary-text-clr: #000000; /* Tertiary text */
  /* Icon Colors */
  --icon-clr: #131313; /* Icons */
  --icon-form-clr: #e0e6ed;
  /* Background Variants */
  --transparent-bg-clr: #343a402d; /* Transparent background */
  --transparent-border-clr: #343a4012; /* Transparent border */
  --secondary-tp-bg-clr: #0066cc23; /* Secondary Transparent background */
  --secondary-border-bg-clr: #0066cc21; /* Secondary Transparent border */
  --form-bg-clr: #c1c1c160; /* Form background */
  /* Interactive Elements */
  --hover-clr: #3a7ca5; /* Hover effects on links, buttons */
  --icon-hover-clr: #e0e6ed; /* Hover effects on icons */
  /* Status Colors */
  --success-text-clr: #121813; /* Success states */
  --success-background-clr: #28a74668;
  --faded-success-background-clr: #28a74622;
  --success-border-clr: #005714;
  --error-text-clr: #4d1a20; /* Error states, warnings */
  --error-background-clr: #c62b3d68;
  --faded-error-background-clr: #c62b3d22;
  --error-border-clr: #870413;
  --active-clr: #5e63ff; /* Active states */
  --deleting-clr: #ff2e46ca;
  --creating-clr: #28da51ca;
  /* Progress Status Colors */
  --not-yet-started-clr: #007bff; /* Symbol: Not Started Google Icon */
  --on-hold-clr: #ffa500; /* Symbol: Pause Circle Google Icon */
  --in-progress-clr: #ffff00; /* Symbol: Auto Renew Google Icon */
  --completed-clr: #00ff00; /* Symbol: Check Circle Google Icon */
  --canceled-clr: #ff0000; /* Symbol: Block Google Icon */
}

/*--------------------- Global Styles ---------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in total sizing */
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

svg {
  fill: var(--icon-clr);
}

/*--------------------- Page Layouts ---------------------*/

body {
  display: grid;

  min-height: 100vh; /* Viewport Height */
  min-height: 100dvh; /* Dynamic Viewport Height */
}
#default-website-body {
  grid-template-columns: auto 1fr; /* Set columns for sidebar and main */
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}
#intro-to-website-body {
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
}

/*--------------------- Navbar ---------------------*/

nav {
  grid-area: navbar;

  position: sticky;
  top: 0;
  height: 65px;

  display: flex;

  background-color: var(--base-clr);
  border-bottom: 1px solid var(--line-clr);
  color: var(--text-clr);
  user-select: none;
}
nav ul {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}
nav li {
  height: 65px;
}
nav a,
.nav-title {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 15px;

  color: var(--text-clr);
  text-decoration: none;
}
.nav-title {
  font-weight: 600;
}
nav svg {
  margin-right: 5px;
}
nav a:hover {
  background-color: var(--hover-clr);
  color: var(--hover-text-clr);
  text-decoration: none;
}
nav a:hover svg {
  fill: var(--hover-text-clr);
}
nav li:first-child {
  margin-right: auto;
}
.menu-button svg {
  fill: var(--icon-clr);
}

/*----------- Nav Sidebar -----------*/

.nav-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  width: 100px;
  height: 100vh;

  background-color: var(--transparent-bg-clr);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px var(--transparent-border-clr);

  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-sidebar li {
  width: 100%;
}
.nav-sidebar a {
  width: 100%;

  color: var(--text-clr);
}
.nav-sidebar a:hover {
  background-color: var(--hover-clr);
  color: var(--hover-text-clr);
}
.menu-button {
  display: none;
}
.nav-sidebar svg {
  fill: var(--icon-clr);
}

/*--------------------- SideBar ---------------------*/

aside {
  grid-area: sidebar;

  position: sticky; /* Sticks to position within parent container when scrolling */
  top: 65px; /* Sidebar sticks beneath navbar when scrolling */
  height: calc(100vh - 65px);
  width: 250px;

  align-self: start; /* Sidebar stays aligned to the top of the container */
  overflow: hidden; /* For when the sidebar is closed */
  text-wrap: nowrap;
  transition: 300ms ease-in-out; /* Close sidebar smoothly with a transition */

  padding: 5px 1em; /* Top & Bottom | Left & Right */

  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);
  color: var(--text-clr);
}

/*----------- Default SideBar -----------*/

#default-asidebar {
  padding: 5px 1em;
  user-select: none;
}
#default-asidebar.close {
  width: 60px;
  padding: 5px;
}
#default-asidebar ul {
  list-style: none; /* Removes Bullets */
}
#default-asidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 16px;
}
#default-asidebar > ul > li:first-child .logo {
  font-weight: 600;
}
#default-asidebar ul li.active a {
  color: var(--active-clr); /* Current Page text will be highlighted */
}
#default-asidebar ul li.active svg {
  fill: var(--active-clr);
}
#default-asidebar a,
#default-asidebar .dropdown-btn,
#default-asidebar .logo {
  display: flex;
  align-items: center; /* Align items vertically */

  gap: 1em;
  padding: 0.85em;
  border-radius: 0.5em;

  color: var(--text-clr);
  text-decoration: none;
}
#default-asidebar .dropdown-btn {
  width: 100%;

  border: none;
  background: none;

  text-align: left;
  font: inherit;

  cursor: pointer;
}
#default-asidebar svg {
  flex-shrink: 0;
  fill: var(--icon-clr);
}
#default-asidebar a span,
#default-asidebar .dropdown-btn span {
  flex-grow: 1; /* Moves Icons to the right */
}
#default-asidebar a:hover,
#default-asidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
  color: var(--hover-text-clr);
}
#default-asidebar a:hover svg,
#default-asidebar .dropdown-btn:hover svg {
  fill: var(--icon-hover-clr);
}
#default-asidebar .active a:hover {
  background-color: var(--hover-clr);
  color: var(--hover-text-clr);
}
#default-asidebar .active a:hover svg {
  fill: var(--icon-hover-clr);
}
#default-asidebar .sub-menu {
  /* Transition only works on grid layouts */
  display: grid;
  grid-template-rows: 0fr;

  transition: 300ms ease-in-out;
}
#default-asidebar .sub-menu > div {
  /* Needed to make child elements disappear! */
  overflow: hidden; /* Will hide child elements that do not fit in the container */
}
#default-asidebar .sub-menu.show {
  grid-template-rows: 1fr; /* 1fr is a responsive unit that will adjust automatically */
}
#default-asidebar .dropdown-btn svg {
  transition: 200ms ease;
}
#default-asidebar .rotate svg:last-child {
  rotate: 180deg;
}
#default-asidebar .sub-menu a {
  padding-left: 2em;
}
#default-asidebar #toggle-btn {
  margin-left: auto;

  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;

  cursor: pointer;
}
#default-asidebar #toggle-btn svg {
  transition: rotate 150ms ease;
}
#default-asidebar #toggle-btn:hover {
  background-color: var(--hover-clr);
}
#default-asidebar #toggle-btn:hover svg {
  fill: var(--icon-hover-clr);
}

/*--------------------- Main Content  ---------------------*/

main {
  grid-area: main;

  /* Ensures responsiveness! If container is 200px, then 7% of 200 is 14px, and this will be chosen over the fixed 30px */
  padding: min(30px, 7%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background-color: var(--base-clr);
  color: var(--text-clr);
  transition: margin 0.3s ease;
}
.main-content-section {
  width: 100%;
  padding: 25px;
  border-radius: 1em;
}
.main-content-section,
.sub-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--line-clr);
  margin-bottom: 20px;
}
.sub-sections {
  padding: 10px;
  border-radius: 0.5em;
  width: 50%;
}

/*--------------------- Project Page Overview ---------------------*/

#project-section {
  width: 85%;
}

/*----------- Header Section -----------*/

#project-header {
  display: flex;
  justify-items: center;
  margin-bottom: 5px;
  padding: 1em;
  text-wrap: nowrap;
}
#project-header #edit-project {
  margin-left: 5px;
  fill: var(--accent-clr);
}
#project-header svg:hover {
  cursor: pointer;
}

/*----------- List of Projects -----------*/

#project-section ul {
  padding: 0 5px 5px 5px; /* | Top | Right | Bottom | Left */
  list-style: none;
}
#project-section li {
  display: flex;
}
#project-section #project-status,
#project-section a,
#project-section .close {
  display: flex;
  margin-bottom: 5px;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}
#project-section li a {
  background-color: var(--accent-clr);
  color: var(--base-clr);
  border: 1px solid var(--accent-clr);
  border-right: none;
  border-radius: 0 5px 5px 0;

  flex: 1;
  margin-right: 0;
}
#project-section #project-status {
  display: flex;
  background-color: var(--accent-clr);
  color: var(--base-clr);

  border-radius: 5px 0 0 5px;
  margin-right: 0;
  border: 1px solid var(--accent-clr);

  border-right-color: var(--base-clr);
}
#project-section li a:hover {
  text-decoration: none;
  background-color: var(--hover-clr);
}
#project-section .close {
  border-radius: 0 5px 5px 0;
  background-color: var(--accent-clr);
  border: 1px solid var(--accent-clr);
  border-left-color: var(--base-clr);
}
#project-section svg {
  fill: var(--icon-form-clr);
  transition: all 0.3s ease;
  width: 16px;
}
#project-section .close:hover {
  cursor: pointer;
  box-shadow: 0 0 20px var(--deleting-clr); /* Glowing effect */
  border-left-color: var(--deleting-clr);
  transition: all 0.3s ease;
}
#project-section .close:hover svg {
  fill: var(--deleting-clr);
}
#project-status #not-yet-started-svg:hover {
  fill: var(--not-yet-started-clr);
}
#project-status:has(#not-yet-started-svg:hover),
#project-status:has(#on-hold-svg:hover),
#project-status:has(#in-progress-svg:hover),
#project-status:has(#completed-svg:hover),
#project-status:has(#canceled-svg:hover) {
  transition: all 0.3s ease;
}
#project-status:has(#not-yet-started-svg:hover) {
  box-shadow: 0 0 20px var(--not-yet-started-clr);
  border-right-color: var(--not-yet-started-clr) !important;
}
#project-status:has(#on-hold-svg:hover) {
  box-shadow: 0 0 20px var(--on-hold-clr);
  border-right-color: var(--on-hold-clr) !important;
}
#project-status:has(#in-progress-svg:hover) {
  box-shadow: 0 0 20px var(--in-progress-clr);
  border-right-color: var(--in-progress-clr) !important;
}
#project-status:has(#completed-svg:hover) {
  box-shadow: 0 0 20px var(--completed-clr);
  border-right-color: var(--completed-clr) !important;
}
#project-status:has(#canceled-svg:hover) {
  box-shadow: 0 0 20px var(--canceled-clr);
  border-right-color: var(--canceled-clr) !important;
}

/*----------- Editing Project -----------*/

#project-section .hidden-svg {
  display: none;
}
#project-section .smooth-borders {
  border-radius: 0%;
}

/*----------- Project Creation Box -----------*/

#project-form {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  gap: 0;
}
#project-form button,
#project-form input {
  margin: 10px 25px;
  padding: 5px 10px;
  border: 2px solid var(--accent-clr);
  background-color: var(--base-clr);
}
#project-form input {
  margin-right: 0;
}
#project-form input::placeholder {
  font-style: italic;
  font-size: 12px;
}
#project-form button {
  display: flex;
  margin-left: 0;
  border-left: none;
}
#project-form svg {
  fill: var(--icon-clr);
  width: 20px;
  transition: all 0.3s ease;
}
#project-form button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px var(--creating-clr); /* Glowing effect */
  transition: all 0.3s ease;
}
#project-form button:hover svg {
  fill: var(--creating-clr);
}
#project-form input:focus {
  outline: none;
}

/*--------------------- Project Page Details ---------------------*/

#project_details h3 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--line-clr);
}
#project_details button {
  padding: 5px;
  color: var(--base-clr);
  background-color: var(--accent-clr);
  border: 1px solid var(--accent-clr);
  border-radius: 0.25em;
}
#project_details button:hover {
  background-color: var(--hover-clr);
  transition: all 0.3s ease-in-out;
}
#project_details form {
  display: flex;
  flex-direction: column;
}
#project_details p {
  margin-bottom: 10px;
}
#project_details #header-project-details {
  margin-bottom: 25px;
}
#project_details .top-section,
#project_details .bottom-section {
  width: 100%;
  border-color: green;
  gap: 10px;
}
#project_details .top-section {
  flex-direction: row;
}

/*----------- Deadline Section -----------*/

#deadline-sub-section,
#completion-status-sub-section {
  height: 85%;
}
#subcontractors-sub-section,
#task-sub-section {
  width: 100%;
}
#project_details #deadline-sub-section {
  text-wrap: wrap;
  text-align: center;
}
#project_details #deadline-form {
  gap: 10px;
}
.div-dead {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.div-dead input {
  padding-left: 5px;
  color: var(--text-faded-clr);
  font-style: italic;
  border: 2px solid var(--accent-clr);
}
.div-dead input:focus {
  outline: none;
}
.div-dead input:hover {
  border-color: var(--hover-clr);
}
#project_details .div-dead button:hover {
  background-color: var(--hover-clr);
}

/*----------- Completion Status Section -----------*/
#project_details h3 {
  margin-top: 10px;
}
#project_details #completion-form .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#project_details #completion-form button {
  margin-top: 10px;
  margin-bottom: 10px;
}
#project_details #completion-form li {
  list-style: none;
  padding: 5px;
}

/*--------------------- Footer ---------------------*/

footer {
  grid-area: footer;

  display: flex;
  justify-content: center;
  padding: 0.5em;
  font-size: 14px;

  background-color: var(--base-clr);
  border-top: 1px solid var(--line-clr);
  color: var(--text-clr);
  font-weight: bold;
}

/*--------------------- Alert Box ---------------------*/

.alert-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  padding-right: 40px;
  border: 2.5px solid transparent;
  border-radius: 1em;
  position: relative;
}
.alert-error {
  font-weight: bold;
  color: var(--error-text-clr);
  background-color: var(--error-background-clr);
  border-color: var(--error-border-clr);
}
.alert-success {
  font-weight: bold;
  color: var(--success-text-clr);
  background-color: var(--success-background-clr);
  border-color: var(--success-border-clr);
}
.alert .close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  border: none;
  background-color: transparent;
}
#error-close {
  fill: var(--error-border-clr);
}
#success-close {
  fill: var(--success-border-clr);
}

/*--------------------- Forms (Login & Registry) ---------------------*/

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
#form-sign-in-and-out {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#form-sign-in-and-out > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#form-sign-in-and-out label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-clr);
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}
#form-sign-in-and-out label svg {
  fill: var(--base-clr);
}
#form-sign-in-and-out input,
#role-select {
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: var(--form-bg-clr);
}
#role-select {
  padding: 0.5em;
}
#form-sign-in-and-out input:hover,
#role-select:hover {
  border: 2px solid var(--hover-clr);
  border-left: none;
}
#form-sign-in-and-out input:focus,
#form-sign-in-and-out select:focus {
  outline: none;
  border: 2px solid var(--active-clr);
  border-left: none;
}
#form-sign-in-and-out div:has(input:focus) > label,
#form-sign-in-and-out div:has(select:focus) > label {
  /* Changes the icon box's color when changing field */
  background-color: var(--active-clr) !important;
}
#form-sign-in-and-out div:has(input:hover) > label,
#form-sign-in-and-out div:has(select:hover) > label {
  background-color: var(--hover-clr);
}
#form-sign-in-and-out input::placeholder {
  color: var(--text-faded-clr);
  font-style: italic;
}
#form-sign-in-and-out select {
  font-style: italic;
  text-indent: 5px;
  color: var(--text-faded-clr);
}
#form-sign-in-and-out button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--accent-clr);
  color: var(--base-clr);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}
#form-sign-in-and-out button:hover {
  background-color: var(--hover-clr);
}
a {
  text-decoration: none;
  color: var(--text-clr);
}
a:hover {
  text-decoration: underline;
}
#form-sign-in-and-out div.incorrect label {
  background-color: var(--error-text-clr);
}
#form-sign-in-and-out div.incorrect input {
  border-color: var(--error-border-clr);
  background-color: var(--faded-error-background-clr);
}
#form-sign-in-and-out div.incorrect input::placeholder {
  color: var(--error-text-clr);
  font-weight: bold;
}
#error-message {
  color: var(--error-text-clr);
}

/*--------------------- Responsiveness ---------------------*/

/*----------- Navbar -----------*/

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

/*----------- Nav Sidebar -----------*/

@media (max-width: 400px) {
  .nav-sidebar {
    height: 100%;
  }
}

/*----------- Sidebar -----------*/

@media (max-width: 800px) {
  #default-asidebar {
    position: fixed;
    bottom: 0;
    width: 100% !important;
    height: 60px;

    border-right: none;
    border-top: 1px solid var(--line-clr);
    padding: 0;
    top: unset; /* Need to unset to apply bottom 0 */
  }
  #default-asidebar > ul {
    display: grid;
    grid-auto-columns: 60px;
    grid-auto-flow: column; /* Every grid item will be placed in a new grid column */
    justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;

    padding: 0;
  }
  #default-asidebar ul li {
    height: 100%;
  }
  #default-asidebar ul a,
  #default-asidebar ul .dropdown-btn {
    display: flex;
    justify-content: center;

    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 0;
  }
  #default-asidebar ul li span,
  #default-asidebar ul li:first-child,
  #default-asidebar .dropdown-btn svg:last-child {
    display: none;
  }
  #default-asidebar ul li .sub-menu.show {
    position: fixed;
    bottom: 60px;
    left: 0;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 60px;

    background-color: var(--secondary-tp-bg-clr);
    backdrop-filter: blur(10px);
    border-top: 1px solid var(--secondary-border-bg-clr);
  }
  #default-asidebar ul li .sub-menu.show > div {
    overflow-x: auto;
  }
  #default-asidebar ul li .sub-menu.show li {
    display: inline-flex;
  }
  #default-asidebar ul li .sub-menu.show a {
    display: flex;
    justify-content: center;

    padding: 1em;
    width: auto;

    color: var(--tertiary-text-clr);
  }
}

/*----------- Page Content -----------*/

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "main" "footer";
  }
  main {
    padding: 2em 1em 60px 1em;
  }
  footer {
    margin-bottom: 60px;
  }
  .no-sidebar footer {
    margin-bottom: 0px;
  }
}

/*----------- Projects Overview -----------*/

@media (max-width: 800px) {
  #project-header,
  #header-project-specifics {
    text-wrap: wrap;
    text-align: center;
  }
}
